/*------------- Text Animations ------------------------*/

@font-face {
  font-family: "Codystar-Light";
  src: url(../fonts/Codystar-Light.ttf);
}
@font-face {
  font-family: "Codystar-Regular";
  src: url(../fonts/Codystar-Regular.ttf);
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/arvo/v14/tDbM2oWUg0MKoZw1-LPK8w.woff2) format('woff2');
}
@font-face {
  font-family: 'Seaweed Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/seaweedscript/v11/bx6cNx6Tne2pxOATYE8C_Rsoe3WA8qY2VQ.woff2) format('woff2');
}


* {
  margin: 0;
  padding: 0;
}

.test1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: #000;
}

.test1 p {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/*-------------- Test 2 -------------*/

.test2 {
  background: linear-gradient(
    #f70000,
    #f89200,
    #f8f501,
    #038f00,
    #0168f8,
    #a200f7
  );
}

.test2 p {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: calc(30vh - 16px);
  background: white;
  position: relative;
  background: #171717;
  color: #000;
}

.test2 p:before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(
    #f70000,
    #f89200,
    #f8f501,
    #038f00,
    #0168f8,
    #a200f7
  );
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 0.9;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swing 4s infinite;
  animation-direction: alternate;
}

@keyframes swing {
  0% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }
  50% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }
  100% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}

/*-------------- Test 3 -------------*/


.testtt {
  color: #fff;
  height: 100%;
  overflow: hidden;
  background: #333641;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test3 h1 {
  font-size: 100px;
  font-family: "Manrope-SemiBold";
}
.test3 h1 span{
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  font-family: "Manrope-SemiBold";
  animation: reveal 3000ms ease-in-out forwards infinite 200ms,
    glow 2500ms linear infinite 2000ms;
}
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

/*-------------- Test 4 -------------*/
.test4 {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo1 {
  width: 22ch;
  animation: typing1 4s steps(30) infinite, blink1 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Manrope-Medium';
  font-size: 60px;
}

@keyframes typing1 {
  from {
    width: 0;
  }
}

@keyframes blink1 {
  50% {
    border-color: transparent;
  }
}

/*-------------- Test 5 -------------*/

.test5 {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.demo2 p {
  color: #fff;
  font-family: 'Manrope-Medium';
  font-size: 60px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing2 3.5s steps(30, end) infinite,
    blink-caret2 .5s step-end infinite;
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret2 {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/*-------------- Test 6 -------------*/

.test6 {
  background: #e6bebe;
  height: 20vh;
}

.test6 h1 {
  color: #FFF;
  font-family: "Manrope-ExtraBold";
  font-size: 60px;
  line-height: 1em;
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-shadow: 0 1px 0 #dba1a1, 0 2px 0 #d89999, 0 3px 0 #d59292, 0 4px 0 #d28a8a, 0 5px 0 #cf8383, 0 6px 0 #cd7c7c, 0 7px 0 #ca7474, 0 8px 0 #c76d6d, 0 0 5px rgba(230, 139, 139, 0.05), 0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3), 0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3);
}






/*-------------- Test 7 -------------*/

.test7 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: #1d1f20;
}

.test7 p {
  font-family: "Inconsolata", Consolas, monospace;
  font-size: 4em;
  color: #d7b94c;
}

.test7 p {
  position: relative;
}
.test7 p::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: #1d1f20;
  -webkit-animation: typing 4s steps(16) forwards, caret 1s infinite;
          animation: typing 4s steps(16) forwards, caret 1s infinite;
}

@-webkit-keyframes typing {
  to {
    width: 0;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}
@-webkit-keyframes caret {
  50% {
    color: transparent;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}

/*-------------- Test 8 -------------*/

.test8 {
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test8 p {
  font-family: 'Manrope-SemiBold';
  font-size: 40px;
  color: #f5f5f5;
}

.test8 p span {
  position: relative;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: 'Manrope-ExtraBold';
  font-size: 70px;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

/*--------------------------------------------*/
.test9 {
  background-color: #222;
}
.plate {
  width: 410px;
}
.shadow {
  color: #fff;
  font-family: "Arvo";
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: #222;
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}
.text1 {
  font-size: 60px;
}
.text2 {
  font-size: 169px;
}
.text3 {
  font-size: 100px;
}


/*-------------- Test 9 -------------*/
/*-------------- Test 10 -------------*/

.test10 {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden; /*FF fix*/
  height: 100%;
  font-family: Geneva, sans-serif;
  background: hsl(210, 30%, 0%) radial-gradient( hsl(210, 30%, 20%), hsl(210, 30%, 0%));

  
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
    margin: 0;
}


/* box ------------------------------------------------------ */

#box {
  padding: 100px;
  text-align: center;
  min-width: 500px;
  font-size: 3em;
  font-weight: bold;
  -webkit-backface-visibility: hidden; /* fixes flashing */
}


/* flashlight ------------------------------------------------------ */

#flashlight {
  color: hsla(0,0%,0%,0);
  perspective: 80px;
  outline: none;
}


/* flash ------------------------------------------------------ */

#flash {
  display: inline-block;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}
    
#box:hover #flash {
  margin-left: 20px;
  transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
}


/* light ------------------------------------------------------ */

#light {
  display: inline-block;
  text-shadow: #111 0 0 1px, rgba(255,255,255,0.1) 0 1px 3px;
}

#box:hover #light {
  text-shadow: #fff 0 0 4px, #fcffbb 0 0 20px;
  transform: rotateY(-60deg);
  transition:         transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
}


/*--------------------------- Test 11 --------------*/


.test11 {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: rgba(206,188,155,1);
  background: -moz-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(206,188,155,1)), color-stop(51%, rgba(85,63,50,1)), color-stop(100%, rgba(42,31,25,1)));
  background: -webkit-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  background: linear-gradient(135deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
}

.test11 h1 {
  width: 100%;
  margin: 0 auto 0 auto;
  font-family: 'Lato', sans-serif;
  line-height: 100px;
  font-size: 5rem;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

/*	
============
	Light
============
*/
.test11 h1::before {
  content:"";
  width: 100%;
  height: 250px;
  position: absolute;
  top: -200px;
  left: 10px;
  transform: rotate(55deg);
  background: rgba(206,188,155,.7);
  background: linear-gradient(to right, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7 );
}



/*	
========================
			3D Effect
========================
*/
#text3d {
    color: #70869d;
    letter-spacing: .15em;
    text-shadow: 
      -1px -1px 1px #efede3, 
      0px 1px 0 #2e2e2e, 
      0px 2px 0 #2c2c2c, 
      0px 3px 0 #2a2a2a, 
      0px 4px 0 #282828, 
      0px 5px 0 #262626, 
      0px 6px 0 #242424, 
      0px 7px 0 #222, 
      0px 8px 0 #202020, 
      0px 9px 0 #1e1e1e, 
      0px 10px 0 #1c1c1c, 
      0px 11px 0 #1a1a1a, 
      0px 12px 0 #181818, 
      0px 13px 0 #161616, 
      0px 14px 0 #141414, 
      0px 15px 0 #121212,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
 }

/*---------------------- Test 12----------------------*/

.test12 {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: navajowhite;
}

.test12 .box {
	display: flex;
}

.test12 .box .inner {
	width: 400px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.test12 .box .inner:first-child {
	background-color: indianred;
	color: darkred;
	transform-origin: right;
	transform: perspective(100px) rotateY(-5deg);
}

.test12 .box .inner:last-child {
	background-color: lightcoral;
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(5deg);
}

.test12 .box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.test12 .box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

/*-------------- Test13--------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

.test13 {
  min-height: 20vh;
  font-family: canada-type-gibson, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.content h2 {
  font-family: bungee, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: calc(0.5rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  -webkit-animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
          animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@-webkit-keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/*---------------- Test 14 -----------------*/
.test14 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#app {
  background: #000;
  height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#wrapper14 {
  text-align: center;
}

.sub14 {
  font-size: 3em;
  color: #ff4a54;
}

.glitch14 {
  position: relative;
  color: #fff;
  font-size: 4em;
  letter-spacing: 0.3em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch14::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch14::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(75px, 9999px, 54px, 0);
    transform: skew(0.67deg);
  }
  5% {
    clip: rect(57px, 9999px, 63px, 0);
    transform: skew(0.35deg);
  }
  10% {
    clip: rect(23px, 9999px, 98px, 0);
    transform: skew(0.56deg);
  }
  15% {
    clip: rect(80px, 9999px, 21px, 0);
    transform: skew(0.31deg);
  }
  20% {
    clip: rect(28px, 9999px, 97px, 0);
    transform: skew(0.97deg);
  }
  25% {
    clip: rect(6px, 9999px, 20px, 0);
    transform: skew(0.42deg);
  }
  30% {
    clip: rect(97px, 9999px, 57px, 0);
    transform: skew(0.14deg);
  }
  35% {
    clip: rect(54px, 9999px, 48px, 0);
    transform: skew(0.32deg);
  }
  40% {
    clip: rect(93px, 9999px, 79px, 0);
    transform: skew(0.61deg);
  }
  45% {
    clip: rect(33px, 9999px, 39px, 0);
    transform: skew(0.08deg);
  }
  50% {
    clip: rect(82px, 9999px, 20px, 0);
    transform: skew(0.83deg);
  }
  55% {
    clip: rect(15px, 9999px, 58px, 0);
    transform: skew(0.43deg);
  }
  60% {
    clip: rect(14px, 9999px, 89px, 0);
    transform: skew(0.83deg);
  }
  65% {
    clip: rect(65px, 9999px, 94px, 0);
    transform: skew(0.01deg);
  }
  70% {
    clip: rect(3px, 9999px, 38px, 0);
    transform: skew(0.8deg);
  }
  75% {
    clip: rect(41px, 9999px, 69px, 0);
    transform: skew(0.11deg);
  }
  80% {
    clip: rect(56px, 9999px, 11px, 0);
    transform: skew(0.46deg);
  }
  85% {
    clip: rect(66px, 9999px, 48px, 0);
    transform: skew(0.66deg);
  }
  90% {
    clip: rect(51px, 9999px, 84px, 0);
    transform: skew(0.97deg);
  }
  95% {
    clip: rect(27px, 9999px, 8px, 0);
    transform: skew(0.9deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(37px, 9999px, 82px, 0);
    transform: skew(0.4deg);
  }
  5% {
    clip: rect(100px, 9999px, 17px, 0);
    transform: skew(0.18deg);
  }
  10% {
    clip: rect(21px, 9999px, 63px, 0);
    transform: skew(0.23deg);
  }
  15% {
    clip: rect(70px, 9999px, 65px, 0);
    transform: skew(0.23deg);
  }
  20% {
    clip: rect(45px, 9999px, 90px, 0);
    transform: skew(0.66deg);
  }
  25% {
    clip: rect(88px, 9999px, 62px, 0);
    transform: skew(0.48deg);
  }
  30% {
    clip: rect(48px, 9999px, 23px, 0);
    transform: skew(0.79deg);
  }
  35% {
    clip: rect(91px, 9999px, 81px, 0);
    transform: skew(0.74deg);
  }
  40% {
    clip: rect(55px, 9999px, 83px, 0);
    transform: skew(0.44deg);
  }
  45% {
    clip: rect(24px, 9999px, 13px, 0);
    transform: skew(0.77deg);
  }
  50% {
    clip: rect(43px, 9999px, 4px, 0);
    transform: skew(0.28deg);
  }
  55% {
    clip: rect(26px, 9999px, 43px, 0);
    transform: skew(0.55deg);
  }
  60% {
    clip: rect(37px, 9999px, 49px, 0);
    transform: skew(0.09deg);
  }
  65% {
    clip: rect(56px, 9999px, 21px, 0);
    transform: skew(0.72deg);
  }
  70% {
    clip: rect(47px, 9999px, 56px, 0);
    transform: skew(0.52deg);
  }
  75% {
    clip: rect(21px, 9999px, 70px, 0);
    transform: skew(0.84deg);
  }
  80% {
    clip: rect(8px, 9999px, 59px, 0);
    transform: skew(0.15deg);
  }
  85% {
    clip: rect(81px, 9999px, 44px, 0);
    transform: skew(0.86deg);
  }
  90% {
    clip: rect(55px, 9999px, 86px, 0);
    transform: skew(0.44deg);
  }
  95% {
    clip: rect(93px, 9999px, 42px, 0);
    transform: skew(0.61deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(-2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(4deg);
  }
}







/*------------- Variants -------------*/

/*--------- vartest1 -----------*/

.vartest1 {
  background-color: #3d3d3d;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  font-family: "Lato";
  position: relative;
}
.wrapper1v {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card1v {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 440px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.card1v img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.descriptions1v {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card1v:hover .descriptions1v {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.card1v:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.card1v:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card1v h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.card1v p {
  line-height: 24px;
  height: 70%;
}
.card1v button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 50px;
}
.card1v button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

.card1v button a {
  text-decoration: none;
  font-size: 20px;
  color: inherit;
}

/*------------------- Vartest2 ---------------*/
@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);

.vartest2 {
  background: linear-gradient(to bottom, rgba(0,5,10,0.4) 0%,rgba(0,0,0,0) 100%);
  font-family: 'Droid Serif', serif;
  position: relative;
  height: fit-content;
  margin: 0;
}

.blog-card {
  max-width: 550px;
  width:100%;
  min-height: 500px;
  height: 40%;
  position: absolute;
  font-family: 'Droid Serif', serif;
  color:#fff;
  right: 0;  
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
  background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
  background-size: 100%;
}
.blog-card a{ 
color:#fff;
  text-decoration:none;
  transition:all 0.2s
}
.blog-card .color-overlay {
  background: rgba(64, 84, 94,0.5);
  width: 550px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(64, 64, 70,0.8);
}
.blog-card:hover .title-content{
  margin-top:70px
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition:all 0.6s
}

.blog-card:hover h3:after{
 
  animation: changeLetter 0.3s 1 linear;
  width:80%
}

.blog-card h3,h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Abril Fatface', serif;
  margin-bottom: 0;
  display:inline-block;
}
.blog-card h3 a{  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s
}
.blog-card h3 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #BDA26B;
  transition:all 0.2s
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}
.intro a{
  color: #ddd
}
.intro a:hover{
  text-decoration:underline
}
.card-info {
   box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a{
  display:block;
  width:100px;
  margin:15px auto;
  background:#fff;
  color:#444;
  padding:3px 10px;
  border-radius:2px;
  font-size:0.8em
}
.card-info a:hover{
  background: #8e7c49;
  color:#fff;
}
.card-info a:hover span{
   filter: brightness(10);
   opacity:1
}

.licon{
  position:relative;  
   width:23px;
   height:15px;
   display:inline-block;
   vertical-align:middle;
}
.licon:before{
  content:"";
   background:url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
   background-size:250px;
   width:26px;
   height:20px;
   display:inline-block;
   vertical-align:middle;
   position:absolute;
   top:-3px;
   left:0;
}
.icon-white{
   filter: brightness(10);
}
.icon-black{
   filter: brightness(0);
   opacity:0.6
}
.icon-like:before{
  background-position: -183px -6px;

}
.icon-com:before{
  background-position: -63px -4px;

}
.icon-dat:before{
  background-position: -94px -7px;
}
.icon-tag:before{
  background-position: -33px -6px;

}

@media (max-width:500px){
  .utility-info li:last-of-type{
    width:100%
  }
  .card-info{
    display:none
  }
  .blog-card:hover .title-content,.title-content{
  margin-top:40px
}
.blog-card{
  height:300px
}
.blog-card h3{
  font-size:1.3em
}
.intro{
  font-size:0.8em
}
}

/*------------- Vartest 3 -------------*/
.vartest3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #353540;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
}
@media screen and (max-width: 760px) {
  .l-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
}
.b-game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.b-game-card__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}
.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}
.b-game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

/*------------  Vartest 4 ------------*/

.vartest4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  position: relative;
}

figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
figure:hover img {
  transform: scale(1.25);
}
figure:hover figcaption {
  bottom: 0;
}
figure h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 60px;
  font-weight: 100;
  line-height: 1;
}
figure img {
  height: 100%;
  transition: 0.25s;
}
figure figcaption {
  position: absolute;
  bottom: -33%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}
figure figcaption h3 {
  margin: 0 0 20px;
  padding: 0;
}
figure figcaption p {
  font-size: 14px;
  line-height: 1.75;
}
figure figcaption button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}